body{
    background:url("../img/test.png") no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

header{

    font-size: xx-large;
    padding: 1%;
    text-align: center;
    vertical-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 2%;
}
a{

    padding: 1%;
    color: black;
    text-decoration: none;
}
a:hover{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
p{
    margin-top: 1%;
    margin-bottom: 0;
    text-align: center;
    font-family: Arial;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: x-large;
    border: 1px solid black;
    background-color: azure;
    width: 50%;
    position: absolute;left: 24.9%;

}
.tablediv {
    margin-top: 5%;
}
table{
    vertical-align: center;
    text-align: center;
    background-color: snow;
    border: 2px solid black;
    border-collapse: collapse;
    margin-top: 5%;
}
tr,td{
    border: 1px solid black;
    width: 1%;
    height: 25px;
}
fieldset{
    margin-top: 2%;
    background-color: darkgray;
}
legend{
    font-size: xx-large;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    border: 1px solid black;
    background: snow;
}
legend::before{
    filter: blur(5px);
}
img{
    width: 30%;
    height: 15%;
    margin: 0 auto;
    display: block;
    border: 2px solid black;
}
